@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --accent-color: #ff6c00;
  --header-color-dark: #303030;
  --pre-header-color-dark: #303030;
  --main-paragraph-color-dark: #555555;
  --second-button-color: #303030;
  --main-button-color: #ffffff;
  --hero-header-color: #ffffff;
  --hero-pre-header-color: #9da4bd;
  --header-main-paragraph-color: #9da4bd;
  --header-nav-color: white;
  --price-list-color: #9da4bd;
  --why-color: #303030;
  --masters-name: #303030;
  --typical-margin: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.pre-header {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pre-header::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
  display: block;
}

.main-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.button {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: 30px;
}

.address-tag {
  font-family: inherit;
}

/* ---------------------HEADER----------------------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__logo {
  margin-right: 70px;
}

.header__link {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  color: var(--header-nav-color);
  padding: 10px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -10px;
}

.header__link:not(.current)::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -10px;
  opacity: 0;
}

.header__link:hover::after, .header__link:focus::after {
  opacity: 1;
  -webkit-animation: lineScale 250ms linear;
          animation: lineScale 250ms linear;
}

.header__link:hover,
.header__link :focus {
  color: var(--accent-color);
}

@-webkit-keyframes lineScale {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes lineScale {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.header__tel {
  font-size: 12px;
  line-height: 1.36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-nav-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel:hover, .header__tel:focus {
  color: var(--accent-color);
}

.hero__button {
  color: var(--main-button-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero__button {
    margin-bottom: 20px;
  }
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__connect {
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__item:not(:last-child) {
    margin-right: 24.25px;
  }
}

@media screen and (min-width: 1200px) {
  .header__item:not(:last-child) {
    margin-right: 40px;
  }
}

.header__tel {
  margin-right: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__tel {
    margin-right: 0;
  }
}

/* ---------------------HERO----------------------------- */
.hero__content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../../images/hero.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 96px 206px 96px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg) translate(-22px);
          transform: rotate(-90deg) translate(-22px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__list::before {
  display: block;
  content: "";
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
  min-width: 60px;
}

.hero__soc {
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 22px;
  padding-bottom: 33px;
}

@media screen and (max-width: 767.98px) {
  .hero__soc {
    display: none;
  }
}

.hero__item:not(:last-child) {
  margin-right: 40px;
}

.hero__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.2em;
  color: black;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__link:hover, .hero__link:focus {
  color: var(--accent-color);
}

.hero-pre-header {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--hero-pre-header-color);
  margin-bottom: var(--typical-margin);
}

.hero__header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--hero-header-color);
  margin-bottom: var(--typical-margin);
}

@media screen and (max-width: 1199.98px) {
  .hero__header {
    font-size: 48px;
    line-height: 1.16;
  }
}

.hero__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--header-main-paragraph-color);
  max-width: 400px;
}

@media screen and (max-width: 1199.98px) {
  .hero__paragraph {
    font-size: 16px;
    line-height: 1.625;
  }
}

.hero > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__list {
  width: 90px;
}

/* ---------------------ABOUT----------------------------- */
.about {
  padding-bottom: 139px;
  padding-top: 90px;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__content {
  margin-left: 64px;
  width: 500px;
}

@media screen and (max-width: 767.98px) {
  .about__content {
    margin-left: 0;
  }
}

.about > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .about__list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1199.98px) {
  .about__img {
    width: 330px;
    height: 235px;
  }
}

@media screen and (min-width: 1200px) {
  .about__img {
    width: 270px;
    height: 445px;
  }
}

@media screen and (max-width: 1199.98px) {
  .about__img--top {
    margin-bottom: 30px;
  }
}

.about-pre-header {
  color: var(--pre-header-color-dark);
  margin-bottom: var(--typical-margin);
}

.about-main-header {
  color: var(--header-color-dark);
  margin-bottom: var(--typical-margin);
}

@media screen and (max-width: 1199.98px) {
  .about-main-header {
    font-size: 28px;
  }
}

.about__paragraph {
  color: var(--main-paragraph-color-dark);
  margin-bottom: var(--typical-margin);
}

@media screen and (max-width: 1199.98px) {
  .about__paragraph {
    font-size: 16px;
    line-height: 1.625;
  }
}

.about__paragraph2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--main-paragraph-color-dark);
  margin-bottom: 40px;
}

.about-button {
  color: var(--second-button-color);
}

/* -------------------SERVICES AND PRICES-------------------- */
.services {
  background-color: #111319;
  background-image: url(../../images/prices.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
}

.services__pre-header {
  color: var(--hero-pre-header-color);
  margin-bottom: var(--typical-margin);
}

.services__main-header {
  color: var(--hero-header-color);
  margin-bottom: var(--typical-margin);
}

.prices__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--price-list-color);
}

.services__button {
  color: var(--main-button-color);
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}

.prices-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199.98px) {
  .prices-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

.prices {
  padding: 30px 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.prices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--typical-margin);
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.prices__item:last-child {
  margin-bottom: 0;
}

.prices__item::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.prices__paragraph:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.prices--light {
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

@media screen and (max-width: 1199.98px) {
  .prices--light {
    background: none;
    padding-bottom: 20px;
  }
}

.prices--dark {
  background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

@media screen and (max-width: 1199.98px) {
  .prices--dark {
    background: none;
    padding-top: 0;
  }
}

/* -------------------WHY-------------------- */
.why {
  padding-top: 143px;
  padding-bottom: 108px;
}

@media screen and (max-width: 1199.98px) {
  .why__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.why > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why__content {
  max-width: 500px;
  margin-left: 130px;
}

@media screen and (max-width: 1199.98px) {
  .why__content {
    margin-left: 0;
    margin-bottom: 44px;
  }
}

.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 100px;
}

@media screen and (min-width: 1200px) {
  .why__list {
    width: 374px;
  }
}

@media screen and (max-width: 1199.98px) {
  .why__list {
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .why__list {
    margin-left: 264px;
  }
}

.why__item {
  padding: 20px 24px;
  text-align: center;
  background: #f7f7f7;
}

.why__item:nth-child(2n) {
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 1199.98px) {
  .why__item {
    width: 210px;
    height: 133px;
  }
}

@media screen and (max-width: 767.98px) {
  .why__item {
    width: 193px;
    height: 133px;
  }
}

@media screen and (min-width: 1200px) {
  .why__item {
    width: 170px;
    height: 133px;
  }
}

@media screen and (max-width: 480px) {
  .why__item {
    width: 40%;
    height: 133px;
  }
}

.why__number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--why-color);
  display: block;
  margin-bottom: 6px;
}

.why__number::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--accent-color);
  vertical-align: top;
}

.why__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--why-color);
  margin-bottom: var(--typical-margin);
}

.why__pre-header {
  color: var(--pre-header-color-dark);
  margin-bottom: var(--typical-margin);
}

.why__main-header {
  color: var(--header-color-dark);
  margin-bottom: var(--typical-margin);
}

.why__paragraph {
  color: var(--main-paragraph-color-dark);
}

@media screen and (max-width: 480px) {
  .why__paragraph {
    font-size: 3vw;
  }
}

/* -------------------MASTERS-------------------- */
.masters {
  padding-bottom: 130px;
  padding-top: 130px;
  background-color: #f7f7f7;
}

@media screen and (min-width: 1200px) {
  .masters__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
  }
}

.masters__item {
  text-align: center;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .masters__item {
    margin-left: 30px;
    -ms-flex-preferred-size: calc(100% / 3 -30px);
        flex-basis: calc(100% / 3 -30px);
  }
}

@media screen and (max-width: 1199.98px) {
  .masters__item:not(:last-child) {
    margin-bottom: 64px;
  }
}

.masters__pre-header {
  color: var(--pre-header-color-dark);
  margin-bottom: var(--typical-margin);
}

.masters__main-header {
  color: var(--header-color-dark);
  margin-bottom: 44px;
}

.masters-top-wrap {
  position: relative;
  overflow: hidden;
}

.masters-top-text {
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  top: 0;
  color: #ffffff;
  background-color: rgba(255, 106, 0, 0.604);
  line-height: 1.5;
  padding: 40px;
  height: 100%;
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}

.masters__item:hover .masters-top-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 767.98px) {
  .masters-img {
    width: 418px;
    height: 346px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .masters-img {
    width: 450px;
    height: 346px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .masters-img {
    width: 370px;
    height: 346px;
  }
}

@media screen and (max-width: 480px) {
  .masters-img {
    width: 97%;
  }
}

.masters__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: var(--masters-name);
  margin-bottom: 8px;
  margin-top: 30px;
}

.masters__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.socials__item:last-child {
  margin-right: 0px;
}

.socials__link {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--accent-color);
}

/* -------------------GALLERY-------------------- */
.gallery {
  padding-bottom: 130px;
  padding-top: 130px;
}

.gallery__pre-header {
  color: var(--pre-header-color-dark);
  margin-bottom: 44px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin: -15px;
}

@media screen and (max-width: 1199.98px) {
  .gallery__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery__item {
  margin: 15px;
}

@media screen and (max-width: 1199.98px) {
  .gallery__img {
    width: 330px;
    height: 360px;
  }
}

@media screen and (max-width: 767.98px) {
  .gallery__img {
    width: 418px;
    height: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__img {
    width: 270px;
    height: 360px;
  }
}

@media screen and (max-width: 480px) {
  .gallery__img {
    width: 97%;
  }
}

/* -------------------CONTACTS-------------------- */
.contacts-wrap {
  background-color: #191c26;
}

@media screen and (min-width: 1200px) {
  .contacts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts {
  background-image: url(../../images/contacts.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

@media screen and (max-width: 767.98px) {
  .contacts {
    padding-top: 84px;
    padding-bottom: 84px;
    padding-left: 31px;
  }
}

@media screen and (max-width: 1199.98px) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 39px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    padding-left: 100px;
    padding-bottom: 130px;
    padding-top: 130px;
    width: calc(50% - 15px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .address-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__wrap {
    margin-left: 30px;
  }
}

.contacts__header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 40px;
}

@media screen and (max-width: 767.98px) {
  .contacts__header {
    text-align: center;
  }
}

.contacts__item {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: var(--typical-margin);
}

.contacts__item:last-child {
  margin-bottom: 70px;
}

.contacts__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__pre-header {
  color: #ffffff;
  margin-bottom: var(--typical-margin);
}

.contacts__paragraph {
  color: #9da4bd;
}

.contacts__svg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 16px;
  stroke: #9da4bd;
  -webkit-transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__svg,
.contacts__link:focus .contacts__svg {
  stroke: var(--accent-color);
}

/* ----------------ОNLINE---------------------- */
@media screen and (max-width: 767.98px) {
  .online {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

@media screen and (max-width: 1199.98px) {
  .online {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .online {
    padding-right: 40px;
    padding-bottom: 130px;
    padding-top: 130px;
    width: calc(50% + 15px);
  }
}

.online__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.online__field {
  position: relative;
}

@media screen and (max-width: 480px) {
  .online__field {
    width: 100%;
  }
}

.online__input {
  width: 260px;
  height: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  color: #f7f7f7;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online__input:focus {
  border-color: white;
}

@media screen and (max-width: 1199.98px) {
  .online__input {
    width: 330px;
  }
}

@media screen and (max-width: 767.98px) {
  .online__input {
    width: 418px;
  }
}

@media screen and (max-width: 480px) {
  .online__input {
    width: 97%;
  }
}

@media screen and (max-width: 767.98px) {
  .online__input--name {
    margin-bottom: 44px;
  }
}

.online__label {
  position: absolute;
  top: 0;
  left: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online__input:focus + .online__label,
.online__input:not(:placeholder-shown) + .online__label {
  color: #f7f7f7;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.online__mess:focus + .online__label,
.online__mess:not(:placeholder-shown) + .online__label {
  color: #f7f7f7;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.online__field--big {
  margin-top: 44px;
  width: 100%;
}

.online__mess {
  width: 100%;
  height: 76px;
  resize: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  color: #f7f7f7;
}

.online__mess:focus {
  border-color: #f7f7f7;
}

@media screen and (max-width: 767.98px) {
  .online__mess {
    width: 418px;
  }
}

@media screen and (max-width: 480px) {
  .online__mess {
    width: 97%;
  }
}

.online__button {
  color: #f7f7f7;
  margin-top: 44px;
}

@media screen and (max-width: 767.98px) {
  .online__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

/* -------------------FOOTER-------------------- */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.footer__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.footer__item:not(:last-child) {
  margin-right: 40px;
}

/* -------------------MODAL-------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.476);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 581px;
  padding: 40px;
}

@media screen and (max-width: 479.98px) {
  .modal {
    width: 90%;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  background-color: transparent;
}

.modal-close-svg {
  width: 18px;
  height: 18px;
  -webkit-transition: fill 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-svg,
.modal-close-btn:focus .modal-close-svg {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon--1 {
  width: 12px;
  height: 12px;
}

.form__icon--2 {
  width: 13px;
  height: 13px;
}

.form__icon--3 {
  width: 15px;
  height: 12px;
}

.form__input:hover ~ .form__icon,
.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}

.form__field--big {
  margin-bottom: 20px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin: 0;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

@media screen and (max-width: 479.98px) {
  .form__input {
    width: 98%;
  }
}

@media screen and (min-width: 480px) {
  .form__input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form__input {
    width: 448px;
  }
}

.comments__input {
  margin: 0;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px 12px 16px;
}

.comments__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments__input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments__input:hover, .comments__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

@media screen and (max-width: 479.98px) {
  .comments__input {
    width: 98%;
  }
}

@media screen and (min-width: 480px) {
  .comments__input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .comments__input {
    width: 448px;
  }
}

.footer__policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199.98px) {
  .footer__policy {
    font-size: 11px;
  }
}

.footer__policy--accent {
  margin-left: 4px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.modal__button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  color: #ffffff;
}

.footer__policy::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}

.policy-checkbox:checked + .footer__policy::before {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  background-image: url(../../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.policy-checkbox:focus + .footer__policy::before {
  border: 2px solid var(--accent-color);
}
/*# sourceMappingURL=main.css.map */