:root {
  --accent-color: #ff6c00;
  --header-color-dark: #303030;
  --pre-header-color-dark: #303030;
  --main-paragraph-color-dark: #555555;
  --second-button-color: #303030;
  --main-button-color: #ffffff;
  --hero-header-color: #ffffff;
  --hero-pre-header-color: #9da4bd;
  --header-main-paragraph-color: #9da4bd;
  --header-nav-color: white;
  --price-list-color: #9da4bd;
  --why-color: #303030;
  --masters-name: #303030;
  --typical-margin: 20px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.pre-header {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.pre-header::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
  display: block;
}
.main-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
.paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.button {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: 30px;
}
.address-tag {
  font-family: inherit;
}

/* ---------------------HEADER----------------------------- */
body {
  font-family: "Open Sans", sans-serif;
}
.header {
  background-color: #555555;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-logo {
  margin-right: 70px;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  color: var(--header-nav-color);
}
.header-link:hover,
.header-link :focus {
  color: var(--accent-color);
}
.header-tel {
  font-size: 12px;
  line-height: 1.36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-nav-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.hero-button {
  color: var(--main-button-color);
}
.header > .container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-connect {
  margin-left: auto;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-tel {
  margin-right: 40px;
}
/* ---------------------HERO----------------------------- */
.hero-content {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 96px 206px 96px;
  flex-grow: 1;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.2em;
  color: black;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-pre-header {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--hero-pre-header-color);
  margin-bottom: var(--typical-margin);
}
.hero-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--hero-header-color);
  margin-bottom: var(--typical-margin);
}
.hero-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--header-main-paragraph-color);
  max-width: 400px;
}
.hero > .container {
  display: flex;
}
.hero-list {
  width: 90px;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-content {
  margin-left: 64px;
  width: 500px;
}
/* ---------------------ABOUT----------------------------- */
.about {
  padding-bottom: 139px;
  padding-top: 90px;
}
.about > .container {
  display: flex;
}
.about-list {
  display: flex;
}
.about-pre-header {
  color: var(--pre-header-color-dark);
  margin-bottom: var(--typical-margin);
}
.about-main-header {
  color: var(--header-color-dark);
  margin-bottom: var(--typical-margin);
}
.about-paragraph {
  color: var(--main-paragraph-color-dark);
  margin-bottom: var(--typical-margin);
}
.about-paragraph2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--main-paragraph-color-dark);
  margin-bottom: 40px;
}
.about-button {
  color: var(--second-button-color);
}
/* -------------------SERVICES AND PRICES-------------------- */
.services {
  background-color: #111319;
  background-image: url(../images/prices.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
}
.services-pre-header {
  color: var(--hero-pre-header-color);
  margin-bottom: var(--typical-margin);
}

.services-main-header {
  color: var(--hero-header-color);
  margin-bottom: var(--typical-margin);
}
.services-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--price-list-color);
}
.services-button {
  color: var(--main-button-color);
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}
.prices-wrap {
  display: flex;
}
.services-price-list {
  border: 1px dashed #ffffff;
  padding: 30px 40px;
  flex-grow: 1;
}
.services-price-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--typical-margin);
}
.services-price-item:last-child {
  margin-bottom: 0;
}
/* -------------------WHY-------------------- */
.why {
  padding-top: 143px;
  padding-bottom: 108px;
}
.why > .container {
  display: flex;
}
.why-content {
  width: 500px;
  margin-left: 130px;
}
.why-list {
  display: flex;
  flex-wrap: wrap;
  width: 374px;
}

.why-item:nth-child(2n) {
  margin-left: 30px;
  margin-top: 30px;
}
.why-list {
  margin-left: 100px;
}
.why-item {
  width: 122px;
  height: 93px;
  border: 1px solid #000000;
  padding: 20px 24px;
  text-align: center;
  background: #f7f7f7;
}
.why-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--why-color);
  display: block;
  margin-bottom: 6px;
}
.why-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--why-color);
  margin-bottom: var(--typical-margin);
}
.why-pre-header {
  color: var(--pre-header-color-dark);
  margin-bottom: var(--typical-margin);
}
.why-main-header {
  color: var(--header-color-dark);
  margin-bottom: var(--typical-margin);
}
.why-paragraph {
  color: var(--main-paragraph-color-dark);
}
/* -------------------MASTERS-------------------- */
.masters {
  padding-bottom: 130px;
  padding-top: 130px;
  background-color: #f7f7f7;
}
.masters-list {
  display: flex;
  margin-left: -30px;
}
.masters-item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 -30px);
  text-align: center;
}
.masters-pre-header {
  color: var(--pre-header-color-dark);
  margin-bottom: var(--typical-margin);
}
.masters-main-header {
  color: var(--header-color-dark);
  margin-bottom: 44px;
}
.masters-img {
  margin-bottom: 30px;
}
.masters-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: var(--masters-name);
  margin-bottom: 8px;
}
.masters-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}
.masters-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.masters-soc-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}
.masters-soc-item:last-child {
  margin-right: 0px;
}
.masters-soc-link {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masters-soc-link:hover .masters-soc-icon,
.masters-soc-link:focus .masters-soc-icon {
  fill: var(--accent-color);
}

.masters-soc-icon {
}
/* -------------------GALLERY-------------------- */
.gallery {
  padding-bottom: 130px;
  padding-top: 130px;
}
/* -------------------CONTACTS-------------------- */
.contacts {
  background-color: #191c26;
  padding-bottom: 130px;
  padding-top: 130px;
}
.gallery-pre-header {
  color: var(--pre-header-color-dark);
  margin-bottom: 44px;
}
.gallery-list {
  display: flex;
  margin-left: -30px;
}
.gallery-item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 -30px);
}
.contacts-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 40px;
}
.contacts-item {
  margin-bottom: var(--typical-margin);
}
.contacts-item:last-child {
  margin-bottom: 70px;
}
.contacts-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  display: flex;
  align-items: center;
}
.contacts-item {
  align-items: baseline;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-link:hover .contacts-svg,
.contacts-link:focus .contacts-svg {
  stroke: var(--accent-color);
}
.contacts-pre-header {
  color: #ffffff;
  margin-bottom: var(--typical-margin);
}

.contacts-paragraph {
  color: #9da4bd;
}
.contacts-svg {
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  stroke: #9da4bd;
}
/* -------------------FOOTER-------------------- */
.copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer > .container {
  display: flex;
  align-items: center;
}
.footer-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.footer-link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.footer-item:not(:last-child) {
  margin-right: 40px;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
