/* ---------------------ABOUT----------------------------- */
.about {
  padding-bottom: 139px;
  padding-top: 90px;
}
.about > .container {
  display: flex;
}
.about__list {
  display: flex;
}
.about-pre-header {
  color: var(--pre-header-color-dark);
  margin-bottom: var(--typical-margin);
}
.about-main-header {
  color: var(--header-color-dark);
  margin-bottom: var(--typical-margin);
}
.about__paragraph {
  color: var(--main-paragraph-color-dark);
  margin-bottom: var(--typical-margin);
}
.about__paragraph2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--main-paragraph-color-dark);
  margin-bottom: 40px;
}
.about-button {
  color: var(--second-button-color);
}
