/* -------------------FOOTER-------------------- */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
.copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer > .container {
  display: flex;
  align-items: center;
}
.footer__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.footer__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer__item:not(:last-child) {
  margin-right: 40px;
}
