/* ---------------------HEADER----------------------------- */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__logo {
  margin-right: 70px;
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}
.header__logo-white {
  background-color: transparent;
  @media screen and(min-width:768px) {
    display: none;
  }
}
.logo-white__svg {
  width: 70px;
  height: 56px;
  @media screen and(min-width:768px) {
    display: none;
  }
}
.header__link {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  color: var(--header-nav-color);
  padding: 10px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.current {
    color: var(--accent-color);
  }
  @media screen and(min-width:768px) {
    &.current::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
      left: 0;
      bottom: -10px;
    }

    &:not(.current)::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
      left: 0;
      bottom: -10px;
      opacity: 0;
    }
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    animation: lineScale 250ms linear;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@keyframes lineScale {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.header__tel {
  font-size: 12px;
  line-height: 1.36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-nav-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.hero__button {
  color: var(--main-button-color);
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-bottom: 20px;
  }
}
.header > .container {
  display: flex;
  align-items: center;
}
.header__list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.header__connect {
  margin-left: auto;
  @media screen and (max-width: 767.98px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
// .header__item:not(:last-child) {
//   margin-right: 40px;
// }
.header__item {
  &:not(:last-child) {
    @media screen and(min-width:768px) {
      margin-right: 24.25px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 40px;
    }
  }
}
.header__tel {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-right: 0;
  }
  margin-right: 40px;
}
.header__nav {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}
