/* -------------------WHY-------------------- */
.why {
  padding-top: 143px;
  padding-bottom: 108px;
}
.why__container {
  @media screen and(max-width:1199.98px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.why > .container {
  display: flex;
}
.why__content {
  max-width: 500px;
  margin-left: 130px;
  @media screen and(max-width:1199.98px) {
    margin-left: 0;
    margin-bottom: 44px;
  }
}
.why__list {
  display: flex;
  flex-wrap: wrap;
  @media screen and(min-width:1200px) {
    width: 374px;
  }

  margin-left: 100px;
  @media screen and(max-width:1199.98px) {
    margin-left: 0px;
  }
  @media screen and(min-width:768px) and (max-width: 1199.98px) {
    margin-left: 264px;
  }
}

.why__item {
  padding: 20px 24px;
  text-align: center;
  background: #f7f7f7;

  &:nth-child(2n) {
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and(max-width:1199.98px) {
    width: 210px;
    height: 133px;
  }
  @media screen and(max-width:767.98px) {
    width: 193px;
    height: 133px;
  }
  @media screen and(min-width:1200px) {
    width: 170px;
    height: 133px;
  }
  @media screen and(max-width:480px) {
    width: 40%;
    height: 133px;
  }
}
.why__number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--why-color);
  display: block;
  margin-bottom: 6px;

  &::after {
    content: "+";
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--accent-color);
    vertical-align: top;
  }
}

.why__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--why-color);
  margin-bottom: var(--typical-margin);
}
.why__pre-header {
  color: var(--pre-header-color-dark);
  margin-bottom: var(--typical-margin);
}
.why__main-header {
  color: var(--header-color-dark);
  margin-bottom: var(--typical-margin);
}
.why__paragraph {
  color: var(--main-paragraph-color-dark);
  @media screen and(max-width:480px) {
    font-size: 3vw;
  }
}
